### Ignore everything...
*

### Except these kind of files...
# VCS
!.gitignore
!.gitconfig

# Bash
!.bash_profile
!.bashrc

# Zsh
!.zshrc
!.p10k.zsh

# Environment
!.env_setup.sh
!.osxprep.sh
!.osx.sh
!.zsh.sh
!.java.sh
!.brew.sh
!.ruby.sh
!.python.sh
!.docker.sh
!.datastores.sh
!.web.sh
!README.md

# Ranger config
!.config/ranger/commands.py
!.config/ranger/commands_full.py
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
!.config/ranger/scope.sh
